<launch>
  <node pkg="boot_servo_demo" name="servo_demo" type="navigation_demo.py"
        required='true' output='screen'>
      
      <param name='boot_root' value='${YC2013WS}/out-exp30'/> 
      <param name='config_dir' value='/data/work/scm/boot12env/src/yc1304'/>
      
      <param name='id_agent' value='exp30_bdser_sn1'/>
      <param name='id_robot' value='unicornA_tw1_hlhr_sane_s4'/>
      <param name='id_robot_learn' value='unicornA_tw1_hlhr_sane_s4'/>
      
      <param name='raise_if_no_state' value='1'/>
      
      <param name='error_threshold' value='0.015'/>
  	  <param name='sleep' value='0.005'/>

  	  <param name='map_corner'  
  	 value='${YC2013WS}/out-exp29/compmake/cm:default:res:corner20130602203217-create_navigation_map_from_episode.pickle'/>
	<param name='map' 
	value='${YC2013WS}/out-exp29/compmake/cm:default:res:20130602182523-create_navigation_map_from_episode.pickle'/>
  </node>
</launch>